/* Base Styles -------------------- */

*{
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

body {
    margin: 0;
    font: 1em;
    color: #1b1e23;
    font-weight: lighter;
    background: linear-gradient(slategray, transparent 50%), linear-gradient(0deg, #fff, transparent), url(../img/background-image.webp) no-repeat center;
    background-size: cover;
}

h1 {
    float: right;
    padding-right: 5%;
    font-size: 2.5rem;
    color: white;
    text-transform: lowercase;
    font-weight: normal;
    line-height: 1.2;
    text-shadow: 0px 0px 0 rgb(189,189,189),
                 1px 1px 0 rgb(182,182,182),
                 2px 2px 0 rgb(175,175,175),
                 3px 3px 0 rgb(168,168,168),
                 4px 4px 0 rgb(161,161,161),
                 5px 5px 0 rgb(154,154,154),
                 6px 6px 0 rgb(147,147,147),
                 7px 7px 0 rgb(140,140,140),
                 8px 8px 0 rgb(133,133,133),
                 9px 9px 0 rgb(126,126,126),
                 10px 10px  0 rgb(119,119,119),
                 11px 11px 10px rgba(27,30,35,0.6),
                 11px 11px 1px rgba(27,30,35,0.5),
                 0px 0px 10px rgba(27,30,35,.2);
    margin-top: 0 0 0;
}

h2 {
    font-size: 3em;
    color: #1b1e23;
    font-weight: normal;
    line-height: 1.1;
    margin: 0 0 0.5em;
    text-shadow: 1px 1px 1px slategray;
    padding-top: 10px;
}

h3 {
    color: #1b1e23;
    text-shadow: .5px .5px .5px slategray;
    font-size: 2em;
    line-height: 1.1;
}

img {
    max-width: 100%;
    padding-bottom: 20px;
    padding-top: 20px;
}

ul {
    margin-bottom: 10px;
    margin-top: 10px;
}

/* Pseudo-classes ----------------- */

a:link {
    color: slategray;
    text-decoration: none;
}

a:hover {
    color: steelblue;
}

a:active {
    color: slategrey;
}

/* Navbar Styles -------------------- */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-bottom: 0;
    overflow: hidden;
    background-color: #1b1e23;
  }
  
  li {
    float: left;
    padding-top: 20px;;
  }
  
  li a {
    font-size: 1.5rem;
    display: block;
    color: whitesmoke;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: whitesmoke;
  }
 
  .active {
    background-color: slategray;
  }

  /* Main Styles -------------------- */

.main-header {
    padding: 0 0 0 50px;
    height: 750px;
}

.title {
    color: #1b1e23;
    font-size: 2.5rem;
    letter-spacing: 0.1rem;

    padding-bottom: 10px;
}

.main-header, .primary-content, .secondary-content {
    text-align: center;
}

.primary-content {
    padding-top: 100px;
    padding-bottom: 10px;
    max-width: 80%;
}

.secondary-content {
    padding-top: 10px;
    padding-bottom: 10px;
    max-width: 80%;
}

.t-border {
    border-top: 2px solid whitesmoke;
}

/* Layout Styles ------------------ */

.primary-content, .secondary-content {
    width: 75%;
    padding-left: 50px;
    padding-right: 50px;
    margin: auto;
    max-width: 960px;
}

/* Media Queries ------------------ */

