/* Base Styles -------------------- */

*{
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

body {
    margin: 0;
    font: 1em;
    color: #1b1e23;
    font-weight: lighter;
}

h1 {
    font-size: 5rem;
    color: whitesmoke;
    text-transform: uppercase;
    font-weight: normal;
    line-height: 1.2;
    text-shadow: 5px 5px 5px #1b1e23;
    margin-top: 12px 0 0;
}

h2 {
    font-size: 3em;
    color: slategray;
    font-weight: normal;
    line-height: 1.1;
    margin: 0 0 0.5em;
    text-shadow: 1px 1px 1px slateblue;
    padding-top: 10px;
}

h3 {
    color: #1b1e23;
    text-shadow: .5px .5px .5px slategray;
    font-size: 2em;
    line-height: 1.1;
}

img {
    max-width: 100%;
    padding-bottom: 20px;
    padding-top: 20px;
}

ul {
    margin-bottom: 10px;
    margin-top: 10px;
}

/* Pseudo-classes ----------------- */

a:link {
    color: slateblue;
    text-decoration: none;
}

a:visited {
    color: steelblue;
}

a:hover {
    color: silver;
}

a:active {
    color: lightskyblue;
}

/* Main Styles -------------------- */

.main-header {
    padding-top: 170px;
    height: 1000px;
    background: linear-gradient(slategray, transparent 90%);
    background-image: url(../img/background-image.webp);
    background-size: cover;
}

.title {
    color: white;
    text-shadow: 2px 2px 1px #1b1e23;
}

.main-header, .primary-content, .secondary-content {
    text-align: center;
}

.primary-content {
    padding-top: 10px;
    padding-bottom: 10px;
}

.secondary-content {
    padding-top: 10px;
    padding-bottom: 10px;
}
/* Layout Styles ------------------ */

/* Media Queries ------------------ */
